/* Set styles to LoginFormComponent here! */

.login-form {
  background-color: var(--primary);
  border-radius: 1rem;
  width: 60vmin;
  height: auto;

  display: flex;
  flex-direction: column;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
  padding-top: 4rem;
  color: var(--background);
  z-index: 10000;

  box-shadow: rgb(0, 0, 0, 0.25) 3px 10px 10px;
}

.custom-submit-login-button {
  width: 25vmin;
  height: 7vmin;
  background-color: var(--green-tone);
  margin-top: -1.5vmin;
  border-radius: 1rem;
  padding-top: .5rem;
  font-weight: bold;
  color: var(--background);
  box-shadow: rgb(0, 0, 0, 0.1) 3px 3px 6px;
  transition: 0.2s ease;
}

.left-custom-button {
  width: 18vmin !important;
  border-radius: 1rem 0rem 0rem 1rem !important;
}

.right-custom-button {
  width: 18vmin !important;
  border-radius: 0rem 1rem 1rem 0rem !important;
  background-color: var(--red-tone);
}

.right-custom-button:hover {
  background-color: #ff9592 !important;
}

.custom-submit-login-button:hover {
  background-color: #9edbb2;
}

.dynamic-profile-pic {
  height: 20vmin;
  width: 20vmin;
  margin-bottom: -8vmin;
  z-index: 110111;

  .chakra-avatar__initials {
    font-size: 5rem !important;
  }
}

/* chakraui config */
.chakra-checkbox__control {
  background-color: var(--background);
}