@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #f4f7f5;
  --foreground: #1e1e1e;
  --primary: #3B3939;

  --green-tone: #68d68a;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", system-ui !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.page {
  background-color: var(--background);
  height: calc(100vh - 4rem);
}
