@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #f4f7f5;
  --foreground: #1e1e1e;
  --primary: #3B3939;
  --surface-dark: #868686;
  
  --button-secondary: #ffb800;
  
  --green-tone: #68d68a;
  --yellow-tone: #ffe55f;
  --red-tone: #f97e7a;
  
  --route-page-box-height: 80vh;
  --default-input-height: 4.2vmin;
  --route-page-box-shadow: rgb(0, 0, 0, 0.1) 2px 4px 10px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", system-ui !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--foreground);
}

h2 {
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--foreground);
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--foreground);
}

.page {
  background-color: var(--background);
  height: calc(100vh - 4rem);
}

.light-icons {
  color: var(--background);
}

.dark-icons {
  color: var(--foreground);
}

.p-datepicker-title {
  display: flex;
  flex-direction: row;
  gap: .5rem;
}

.chakra-button {
  height: 4.2vmin !important;
}

.chakra-modal__content-container {
  align-items: center !important;
}

.chakra-modal__header {
  padding-bottom: 0 !important;
}

.p-inputtext:focus {
  box-shadow: none !important;
}

.p-dropdown-items {
  max-height: 30vmin !important;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: #c5ccd6;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9ca3ac;
}