/* Set styles to TopBarComponent here! */

.topbar-component {
  background-color: #3B3939;
  justify-content: space-between;
}

.anchor-box {
  background-color: #3B3939;
  color: var(--background);
  border-radius: .5rem;
  padding: .2rem .5rem;
  transition: 0.2s ease;
}

.anchor-box:hover {
  background-color: #656161;
}

.text-box {
  font-size: 0.875rem;
  color: var(--background);
  font-weight: 500;
}

.custom-route-indicator {
  position: absolute;
  top: 5.2vmin;
  height: 0.3vmin;
  width: 5vmin;
  border-radius: 0.15vmin;
  background-color: var(--button-secondary);
}